{
  "swagger": "2.0",
  "info": {
    "description": "**Purpose** \n --------\n \n This API allows authorization of API consumers in two different ways\n* Plain OAuth2 client credentials grant as defined in RFC 6749 \n * additionaly a MSISDN can be attached to access token either MSISDN is sent in /token request or \n * MSISDN is retrieved from OnetimeACR being sent in the /token request. Creating of the OnetimeACR is not part of this design. Rather it needs to be generated by calling Identifiers API beforehand. \n * Alternatively a Group-SSO token can be attached to access token being sent in the /token request \n * OpenID Connect Authorize (http://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth) OpenID Connect Authorize as defined in OpenID Connect Core 1.0 incorporating errata set 1 (http://openid.net/specs/openid-connect-core-1_0.html) \n\n **Error Code Listings** \n \nFor a list of common and API specific error codes refer to the catalog on the Developer Portal. Please note the error help link shown in all error responses is optional.",
    "version": "1.25",
    "title": "APIX-OAuth 1.25",
    "contact": {
      "name": "Developer Portal Administrator",
      "email": "apix@vodafone.com"
    }
  },
  "host": "apistagingref.developer.vodafone.com",
  "schemes": [
    "https"
  ],
  "basePath": "/oauth2",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apix_oic": {
      "type": "oauth2",
      "tokenUrl": "https://apistagingref.developer.vodafone.com/oauth2/token",
      "flow": "accessCode",
      "authorizationUrl": "https://apistagingref.developer.vodafone.com/oauth2/authorize",
      "scopes": {
        "openid": "REQUIRED in authorize call. Allows developer to get user profile data based on Open ID Connect flow.",
        "single_account": "OPTIONAL. This scope needed when Vodafone ID wants that User  not only authenticated but has to select one single account",
        "VERIFY_PAY": "OPTIONAL. This scope needed when Vodafone ID wants to authenticate “Buy Subscription” transactions initiated by systems like PPE",
        "OPENID_TOKEN_SHARING_PRODUCER": "OPTIONAL. This scope is needed when a consumer needs to share open id connect token with some other consumer app.",
        "OPENID_SMS_SENDER_NAME": "OPTIONAL. This scope allow API consumer to specify SMS sender name for Vodafone and Non-Vodafone recipients, per market"
      }
    }
  },
  "paths": {
    "/home": {
      "get": {
        "operationId": "home",
        "summary": "Returns the APIs home document.",
        "description": "This operation returns the APIs home document. The home document shall be called as a first request to the API. It is providing hypermedia information about the available respources for the caller. It can be cached according to the standard HTTP caching diorectives included into the response.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/vnd.vodafone.a42+json\" or a media type denoting \"application/vnd.vodafone.a42+json\".",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID used for logging and end-to-end tracing. If none is provided, a new one is generated and returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "HOME"
        ],
        "responses": {
          "200": {
            "description": "Returns the APIs home document",
            "schema": {
              "$ref": "#/definitions/Home"
            },
            "headers": {
              "Content-Type": {
                "description": "always \"application/vnd.vodafone.a42+json\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
                "type": "string"
              },
              "Cache-Control": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Date": {
                "description": "set current date time.",
                "type": "string"
              },
              "Expires": {
                "description": "set current date time.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": {
                    "href": "https://{apix.endpoint}/oauth2/home"
                  },
                  "http://a42.vodafone.com/rels/a42/oauth/access-token": {
                    "href": "https://{apix.endpoint}/oauth2/token",
                    "title": "URL to get access token through client credentials grant flow",
                    "type": "application/json",
                    "method": "POST",
                    "data": {
                      "grant_type": "grant type",
                      "client_id": "client id",
                      "client_secret": "client secret",
                      "scope": "scope",
                      "msisdn": "msisdn",
                      "onetimeacr": "one time acr",
                      "refresh_token": "refresh token"
                    }
                  },
                  "http://a42.vodafone.com/rels/a42/oauth/share-code": {
                    "template": "https://{apix.endpoint}/oauth2/share-code?{grant_id}",
                    "title": "URL to get share code by providing grant id",
                    "type": "application/json",
                    "method": "GET"
                  }
                }
              }
            }
          },
          "404": {
            "description": "URI does not represent a recognised resource ",
            "schema": {
              "$ref": "#/definitions/HTTP_404_Error"
            }
          },
          "405": {
            "description": "The request method is not supported by this  resource",
            "schema": {
              "$ref": "#/definitions/HTTP_405_Error"
            }
          },
          "406": {
            "description": "The Accept header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_406_Error"
            }
          },
          "413": {
            "description": "The  request payload exceeds a maximum size ",
            "schema": {
              "$ref": "#/definitions/HTTP_413_Error"
            }
          },
          "414": {
            "description": "Request-URI is too long ",
            "schema": {
              "$ref": "#/definitions/HTTP_414_Error"
            }
          },
          "415": {
            "description": "The value of the Content-Type header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_415_Error"
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors ",
            "schema": {
              "$ref": "#/definitions/HTTP_422_Error"
            }
          },
          "429": {
            "description": "Api Quota limit reached ",
            "schema": {
              "$ref": "#/definitions/HTTP_429_Error"
            }
          },
          "500": {
            "description": "The authorization server encountered an unexpected condition that prevented it fromfulfilling the request",
            "schema": {
              "$ref": "#/definitions/OauthGenericError"
            }
          },
          "default": {
            "description": "APIX common error as described in https://confluence.sp.vodafone.com/display/AF/Common+Error+Codes"
          }
        }
      }
    },
    "/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Returns the APIs home document.",
        "description": "This operation returns the APIs home document. The home document shall be called as a first request to the API. It is providing hypermedia information about the available respources for the caller. It can be cached according to the standard HTTP caching diorectives included into the response.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "any standard accept header value as per HTTP protocol.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID used for logging and end-to-end tracing. If none is provided, a new one is generated and returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string"
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "In phase-I one only 'code' is supported. In future we would support all the different flow types as described in openid spec",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Given when Developer App is created within Developer Portal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Apigee validates this against the list of original redirect URIs registered by the developer for that application. The URL list is separated by <space> characters and provided in the app custom attribute \"openid_redirect_uris\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Space delimited and case-sensitive list of ASCII strings for scopes. Must contain 'openid'. Should support as per spec. Please note the offline_access scope is also supported. Other non-OpenId Scopes are accepted by this API as well. They will be needed later to access APIX APIs in a way that does not differ from the access tokens obtained using the standard OAuth client credentials flow.",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Generally state is used to maintain state between request and callback.",
            "required": true,
            "type": "string"
          },
          {
            "name": "response_mode",
            "in": "query",
            "description": "This field is ignored on APIX layer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "In the OpenID Connect profile this was made mandatory. But Apigee implementation supports this parameter is optional.",
            "required": false,
            "type": "string"
          },
          {
            "name": "claims",
            "in": "query",
            "description": "As per the spec here. claims request parameter Currently only the standard claims are supported.",
            "required": false,
            "type": "string"
          },
          {
            "name": "display",
            "in": "query",
            "description": "This parameter is ignored on APIX layer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "login_hint",
            "in": "query",
            "description": "An indication to the IDP/Authorisation Server on what ID to use for login, e.g. emailid, MSISDN (phone_number) etc. This is also used to determine sharing code. In case consumer is having sharing code , login hint will contain value as sc:<sharing code>",
            "required": false,
            "type": "string"
          },
          {
            "name": "acr_values",
            "in": "query",
            "description": "In the OpConnect profile this was made mandatory. But Apigee implementation does not support this parameter in Phase-I. If passed it would be ignored.",
            "required": false,
            "type": "string"
          },
          {
            "name": "prompt",
            "in": "query",
            "description": "This value is ignored on APIX layer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "max_age",
            "in": "query",
            "description": "This value is ignored on APIX layer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ui_locales",
            "in": "query",
            "description": "This value is ignored on APIX layer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "id_token_hint",
            "in": "query",
            "description": "This value is ignored on APIX layer.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AUTHORIZE"
        ],
        "responses": {
          "302": {
            "description": "Redirects to either Vodafone ID page of redirect uri of client",
            "headers": {
              "Location": {
                "description": "https://<redirect-uri>#/trx/{transaction_id}. in failure cases a 302 response would contain error and error_description fields in query parameter.",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "operationId": "access-token",
        "summary": "Generates Oauth2 access token for various grant types.",
        "description": "Token end point is used to generate oauth2 access token. At present it supports authorization_code, client_credentials and refresh_token grant types. There are some variations in standard client credentials grant if client has access to certain scopes in the developer app.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic Auth header consisting of app client_Id and client_secret,  Basic <base64 <app_client_Id:app_client_secret>> with grant_type  'authorization_code', if Authorization header is in request ignore client_id and client_secret ",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "either \"application/x-www-form-urlencoded\" or a media type denoting \"application/x-www-form-urlencoded\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/vnd.vodafone.a42+json\" or a media type denoting \"application/vnd.vodafone.a42+json\".",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID used for logging and end-to-end tracing. If none is provided, a new one is generated and returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Group-SSO",
            "in": "header",
            "description": "Group SSO token obtained by client from IDM lifecycle back end . This is required if client has assigned OAUTH_GROUPSSO scope to developer app.",
            "required": false,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "formData",
            "description": "consumer key obtained from developer portal.if Authorization header is in request with grant_type 'authorization_code' then need to ignore",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "formData",
            "description": "consumer secret obtained from developer portal.if Authorization header is in request with grant_type 'authorization_code' then need to ignore",
            "required": true,
            "type": "string"
          },
          {
            "name": "grant_type",
            "in": "formData",
            "description": "only allowed values are - client_credentials, authorization_code and refresh_token.",
            "required": true,
            "type": "string",
            "enum": [
              "client_credentials",
              "authorization_code",
              "refresh_token"
            ]
          },
          {
            "name": "scope",
            "in": "formData",
            "description": "space delimited scopes assigned to API Key. In refresh token flow, it should be subset or same as original scopes. If scope is empty or missing, default scopes from API key would be assigned to generated token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "formData",
            "description": "authorization code which is obtained via open id connect flow. This is required if grant_type is authorization_code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "redirect_uri",
            "in": "formData",
            "description": "It should be same value which was provided in /authorize call . This is required if grant_type is authorization_code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "refresh_token",
            "in": "formData",
            "description": "This is required if grant_type is refresh_token .",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "formData",
            "description": "Generally state is used to maintain state between request and callback.This comes if grant_type is authorization_code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "msisdn",
            "in": "formData",
            "description": "MSISDN of end user. This is required if client has assigned OAUTH_MSISDN scope to developer app. This would come if grant_type is client_credentials.",
            "required": false,
            "type": "string"
          },
          {
            "name": "onetimeacr",
            "in": "formData",
            "description": "Non-guessable string identifying an entry in the cache mapping a specific MSISDN. This is required if client has assigned OAUTH_ONETIMEACR scope to developer app. This would come if grant_type is client_credentials.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TOKEN"
        ],
        "responses": {
          "200": {
            "description": "token response",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            },
            "headers": {
              "Content-Type": {
                "description": "always \"application/vnd.vodafone.a42+json\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
                "type": "string"
              },
              "Cache-Control": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Date": {
                "description": "set current date time.",
                "type": "string"
              },
              "Expires": {
                "description": "set current date time.",
                "type": "string"
              }
            },
            "examples": {
              "Response without Refresh token (client_credentials grant type)": {
                "access_token": "2l4IQtZXbn5WBJdL6EF7uenOWRsi",
                "token_type": "Bearer",
                "expires_in": 3599,
                "issued_at": 22432498324733,
                "scope": "USER_CHECK"
              },
              "Response with Refresh token ((authorization_code grant type/ RefreshAccessToken operation) & offline_access scope)": {
                "access_token": "2l4IQtZXbn5WBJdL6EF7uenOWRsi",
                "token_type": "Bearer",
                "expires_in": 3599,
                "issued_at": 22432498324733,
                "refresh_token": "fYACGW7OCPtCNDEnRSnqFlEgogboFPMm",
                "refresh_token_expires_in": 2591999,
                "refresh_token_issued_at": 22432498324733,
                "scope": "openid offline_access"
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters in request",
            "schema": {
              "$ref": "#/definitions/OauthError"
            }
          },
          "404": {
            "description": "URI does not represent a recognised resource ",
            "schema": {
              "$ref": "#/definitions/HTTP_404_Error"
            }
          },
          "405": {
            "description": "The request method is not supported by this  resource",
            "schema": {
              "$ref": "#/definitions/HTTP_405_Error"
            }
          },
          "406": {
            "description": "The Accept header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_406_Error"
            }
          },
          "413": {
            "description": "The  request payload exceeds a maximum size ",
            "schema": {
              "$ref": "#/definitions/HTTP_413_Error"
            }
          },
          "414": {
            "description": "Request-URI is too long ",
            "schema": {
              "$ref": "#/definitions/HTTP_414_Error"
            }
          },
          "415": {
            "description": "The value of the Content-Type header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_415_Error"
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors ",
            "schema": {
              "$ref": "#/definitions/HTTP_422_Error"
            }
          },
          "429": {
            "description": "Api Quota limit reached ",
            "schema": {
              "$ref": "#/definitions/HTTP_429_Error"
            }
          },
          "500": {
            "description": "The authorization server encountered an unexpected condition that prevented it fromfulfilling the request",
            "schema": {
              "$ref": "#/definitions/OauthGenericError"
            }
          },
          "default": {
            "description": "APIX common error as described in https://confluence.sp.vodafone.com/display/AF/Common+Error+Codes"
          }
        }
      }
    },
    "/share-code": {
      "get": {
        "operationId": "share-code",
        "summary": "Returns the sharing code as part of token sharing flow.",
        "description": "It is used to generate sharing code . Client needs to have a valid oauth token generated via open id connect flow .",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Oauth 2 token received via open id connect flow.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/vnd.vodafone.a42+json\" or a media type denoting \"application/vnd.vodafone.a42+json\".",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID used for logging and end-to-end tracing. If none is provided, a new one is generated and returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string"
          },
          {
            "name": "grant_id",
            "in": "query",
            "description": "This is a unique id generated via developer portal for a token sharing producer and receiver combination.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SHARE-CODE"
        ],
        "responses": {
          "200": {
            "description": "Returns the sharing code",
            "schema": {
              "$ref": "#/definitions/SharingCode"
            },
            "headers": {
              "Content-Type": {
                "description": "always \"application/vnd.vodafone.a42+json\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
                "type": "string"
              },
              "Cache-Control": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from configuration.",
                "type": "string"
              },
              "Date": {
                "description": "set current date time.",
                "type": "string"
              },
              "Expires": {
                "description": "set current date time.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "sharing_code": "aaaBBBcD1234"
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters in request",
            "schema": {
              "$ref": "#/definitions/OauthError"
            }
          },
          "404": {
            "description": "URI does not represent a recognised resource ",
            "schema": {
              "$ref": "#/definitions/HTTP_404_Error"
            }
          },
          "405": {
            "description": "The request method is not supported by this  resource",
            "schema": {
              "$ref": "#/definitions/HTTP_405_Error"
            }
          },
          "406": {
            "description": "The Accept header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_406_Error"
            }
          },
          "413": {
            "description": "The  request payload exceeds a maximum size ",
            "schema": {
              "$ref": "#/definitions/HTTP_413_Error"
            }
          },
          "414": {
            "description": "Request-URI is too long ",
            "schema": {
              "$ref": "#/definitions/HTTP_414_Error"
            }
          },
          "415": {
            "description": "The value of the Content-Type header is invalid ",
            "schema": {
              "$ref": "#/definitions/HTTP_415_Error"
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors ",
            "schema": {
              "$ref": "#/definitions/HTTP_422_Error"
            }
          },
          "429": {
            "description": "Api Quota limit reached ",
            "schema": {
              "$ref": "#/definitions/HTTP_429_Error"
            }
          },
          "500": {
            "description": "The authorization server encountered an unexpected condition that prevented it fromfulfilling the request",
            "schema": {
              "$ref": "#/definitions/OauthGenericError"
            }
          },
          "default": {
            "description": "APIX common error as described in https://confluence.sp.vodafone.com/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oic": [
              "openid",
              "OPENID_TOKEN_SHARING_PRODUCER"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "Home": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "$ref": "#/definitions/HRefLink"
            },
            "http://a42.vodafone.com/rels/a42/oauth/access-token": {
              "$ref": "#/definitions/Link"
            },
            "http://a42.vodafone.com/rels/a42/oauth/share-code": {
              "$ref": "#/definitions/Link"
            }
          }
        }
      }
    },
    "HRefLink": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "description": "URI"
        },
        "method": {
          "type": "string",
          "description": "GET / POST /..."
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "URI description"
        },
        "type": {
          "type": "string",
          "description": "Link type"
        },
        "method": {
          "type": "string",
          "description": "HTTP Method"
        },
        "href": {
          "type": "string",
          "description": "Link resource"
        },
        "data": {
          "type": "object",
          "description": "Definition of the data expected to be provided when following the link"
        },
        "template": {
          "type": "string",
          "description": "Link resource"
        }
      }
    },
    "SharingCode": {
      "type": "object",
      "properties": {
        "sharing_code": {
          "type": "string",
          "description": "a unique id generated which is supposed to be passed to receiver app and then used in oauth 2 authorize call.",
          "example": "aaaBBBcD1234"
        }
      }
    },
    "HTTP_415_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "The value of the Content-Type header is invalid"
        }
      }
    },
    "HTTP_405_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "Method Not Allowed"
        }
      }
    },
    "HTTP_406_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "Accept header is invalid"
        }
      }
    },
    "HTTP_404_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "URI does not represent a recognised resource"
        }
      }
    },
    "HTTP_429_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "Api Quota limit reached"
        }
      }
    },
    "HTTP_414_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "Request-URI is too long"
        }
      }
    },
    "OauthError": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "missing client secret"
        }
      }
    },
    "HTTP_413_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "The  request payload exceeds a maximum size"
        }
      }
    },
    "OauthGenericError": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "The authorization server encountered an unexpected condition that prevented it from fulfilling the request"
        }
      }
    },
    "HTTP_422_Error": {
      "type": "object",
      "required": [
        "error",
        "error_description"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "invalid_request"
        },
        "error_description": {
          "type": "string",
          "example": "The request was well-formed but was unable to be followed due to semantic errors"
        }
      }
    },
    "TokenResponse": {
      "type": "object",
      "required": [
        "access_token",
        "expires_in",
        "issued_at",
        "token_type",
        "refresh_token_expires_in",
        "scope"
      ],
      "properties": {
        "access_token": {
          "type": "string",
          "example": "2YotnFZFEjr1zCsicMWpAA",
          "description": "the Apigee access token"
        },
        "expires_in": {
          "type": "integer",
          "format": "int64",
          "example": 1415463699,
          "description": "the expiry time in seconds, UTC"
        },
        "issued_at": {
          "type": "integer",
          "format": "int64",
          "example": 1415463100,
          "description": "the expiry time in seconds, UTC"
        },
        "token_type": {
          "type": "string",
          "example": "Bearer",
          "description": "the token type"
        },
        "scope": {
          "type": "string",
          "example": "USER_CHECK USERINFO_GET_PROFILE",
          "description": "scope for which access token is generated"
        },
        "id_token": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiZW1haWwiOiJqZDJAZXhtYXBsZS5jb20iLCJhZG1pbiI6dHJ1ZX0.DJZX3Nsuj7SN0B0XYgzKt5wWqkBlEefnCd_MRVxEmTA",
          "description": "ID token generated as part of Open id connect flow. This would be sent in case of grant_type in request as authorization_code."
        },
        "refresh_token": {
          "type": "string",
          "example": "2YxaEdarwjr1zCsicMWdexx",
          "description": "refresh token as part of open id connect flow. This is sent if offline_access scope is assigned to developer app and also sent in authorize request"
        },
        "refresh_token_expires": {
          "type": "integer",
          "format": "int64",
          "example": 1415465000,
          "description": "the expiry time in seconds, UTC. This would come if refresh token is sent back in response"
        }
      }
    }
  }
}
