{
  "openapi": "3.0.2",
  "info": {
    "title": "Vodafone Single SMS API",
    "description": "Specification for OpenAPI VFAL Single S",
    "contact": {
      "name": "Cezmi Aslan",
      "url": "http://pia-team.com",
      "email": "cezmi.aslan@pia-team.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.developer.vodafone.com/v1/singlesms/smsmessaging/outbound",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "OAuth2": [
        "send"
      ]
    }
  ],
  "paths": {
    "/MySMSAppName/requests": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Send SMS",
        "description": "Send SMS to an MSISDN number",
        "parameters": [
          {
            "name": "MySMSAppName",
            "in": "path",
            "description": "The commercial app name defined in VF Single SMS Ap",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "mysmsapp"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/smsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "SMS Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/smsResponseBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "send"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "smsBody": {
        "type": "object",
        "properties": {
          "outBoundSMSMessageRequest": {
            "$ref": "#/components/schemas/outBoundSMSMessageRequest"
          }
        },
        "description": "body of SMS by MSISDN",
        "nullable": false
      },
      "outBoundSMSMessageRequest": {
        "type": "object",
        "properties": {
          "senderAddress": {
            "maxLength": 12,
            "minLength": 1,
            "type": "string",
            "description": "Commercial app Name defined in VF single SMS app",
            "nullable": false,
            "example": "test1_2"
          },
          "clientCorrelator": {
            "maxLength": 50,
            "minLength": 20,
            "type": "string",
            "nullable": true,
            "example": "xyzt-abcd"
          },
          "outboundSMSTextMessage": {
            "$ref": "#/components/schemas/outboundSMSTextMessage"
          },
          "address": {
            "$ref": "#/components/schemas/address"
          }
        },
        "description": "SMS by MSISDN"
      },
      "outboundSMSTextMessage": {
        "type": "object",
        "properties": {
          "message": {
            "maxLength": 700,
            "minLength": 1,
            "type": "string",
            "nullable": false,
            "example": "SMS test message"
          }
        },
        "description": "Sms text message"
      },
      "address": {
        "minItems": 1,
        "type": "array",
        "items": {
          "type": "string",
          "example": "tel:+49152004XXXXX"
        }
      },
      "outBoundSMSMessageForResponse": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "clientCorrelator": {
            "maxLength": 50,
            "minLength": 20,
            "type": "string",
            "nullable": true,
            "example": "xyzt-abcd"
          },
          "deliveryInfoList": {
            "$ref": "#/components/schemas/deliveryInfoList"
          },
          "outboundSMSTextMessage": {
            "$ref": "#/components/schemas/outboundSMSTextMessage"
          },
          "resourceURL": {
            "type": "string",
            "description": "url of sms to check status"
          },
          "senderName": {
            "type": "string",
            "example": "vodafone"
          },
          "senderAddress": {
            "type": "string",
            "example": "MySMSAppName"
          }
        },
        "description": "SMS Request body in Response"
      },
      "deliveryInfoList": {
        "type": "object",
        "properties": {
          "deliveryInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deliveryInfo"
            }
          },
          "resourceURL": {
            "type": "string",
            "description": "url of sms to check status"
          }
        },
        "description": "delivery Info of Response"
      },
      "deliveryInfo": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "tel:+49152004XXXXX"
          },
          "deliveryStatus": {
            "type": "string",
            "enum": [
              "DeliveredToNetwork",
              "DeliveryUncertain",
              "DeliveryImpossible",
              "MessageWaiting",
              "DeliveredToTerminal",
              "DeliveryNotificationNotSupported"
            ]
          }
        }
      },
      "smsResponseBody": {
        "type": "object",
        "properties": {
          "outBoundSMSMessageRequest": {
            "$ref": "#/components/schemas/outBoundSMSMessageForResponse"
          }
        },
        "description": "SMS Response body"
      }
    },
    "parameters": {
      "MySMSAppNamePathParam": {
        "name": "MySMSAppName",
        "in": "path",
        "description": "The commercial app name defined in VF Single SMS Ap",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "mysmsapp"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "This API uses OAuth 2 with the implicit grant flow. [More info](https://api.example.com/docs/auth)",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://api.example.com/oauth2/authorize",
            "scopes": {
              "send": "send sms"
            }
          }
        }
      }
    }
  }
}
